---
layout: default
title: Home
bgimage: "Header.png"
---
<main>

  <div id="header-section" style="background-image: url({{ site.github.url }}/assets/img/{{ page.bgimage }})">
    <div id="header">
      <h1>People of Aalborg</h1>
    </div>
  </div>

<article id="latest-posts">
  <header>
    <h1>Latest Stories</h1>
  </header>

  {% for post in site.categories.story limit:3  %}

    <a href="{{ site.github.url }}{{ post.url }}">
    <article class="post">
      <div class="image-name" {% if post.bgimage %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.bgimage }})"{% endif %}>
        <p class="name">{{ post.title }}</p>
      </div>
      <div class="quoteSection">
        <p class="quote">
          {% if post.summary %}
            {{post.summary | truncate: 245 }}
          {% else %}
            {{post.content | truncate: 245 }}
          {% endif %}
        </p>
        <a href="{{ site.github.url }}{{ post.url }}">
          <button class="buttons">Read...</button>
        </a>
      </div>
    </article>
    </a>

  {% endfor %}
</article>
<a href="{{ site.github.url }}/pages/stories.html"><button class="buttons" id="viewMoreBtn">View More...</button></a>

</main>
