<div class="menu">
		<span class="menu_title"><a href="{{ site.github.url }}/index.html">People of Aalborg</a></span>
		<img src="assets/img/dropdown.png" alt="menu" id="menu_btn">
		<nav class="menu_nav">
			<ul class="menu_list">
				{% for item in site.data.settings.menu %}
					<li class="menu_list_item">
						<a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="menu_link">{{ item.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<div id="empty" style="height: 10px;"></div>
</div>
