.dimmed {
  position: relative;
  z-index: 10;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.about-text {
  color: white;
  font-size: 2em;
  padding: 8%;
}

.about-text > p {
  text-align: right;
  line-height: 1.3em;
}

@media (min-width: 900px) {
  .dimmed {
    clip-path: polygon(12% 0%, 100% 0, 100% 100%, 65% 100%);
  }
  .about-text {
    float: right;
    width: 47%;
    padding-right: 8%;
  }
}
