body {
    padding: 0;
    margin: 0;
}

#header-section {
    width:100%;
    height:700px;
    background: url("../img/Header.png") no-repeat top center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Abril Fatface', cursive;
    font-size: 1.3em;
    color: #FFFEFE;
    text-transform: uppercase;
}
