#header-section.story {
    width:100%;
    height:700px;
    background: no-repeat top center;
    background-size: cover;
    position: relative;
    display: table;
}

#person_header{
   position: relative;
   height: 700px;
   background: no-repeat top center;
   background-image: url(../images/Tina_resized.jpg);
   background-size: cover;
   width:100%;
   display: table;
}
#quote {
    font-size: 25px;
    color: white;
    width: 45%;
    line-height: 30px;
    height: 100%;
    padding-left: 7%;
}

#quote > p {
  font-style: italic;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

#person_header #quote {
  display: table-cell;
  vertical-align: middle;
}

#name {

   font-size: 20px;
   background-color: rgb(0, 0, 70);
   color: white;
   padding: 15px;
   padding-left: 25px;
   padding-right: 25px;
   margin: 0;
   text-align: center;
   border: 1px groove white;
   position: absolute;
   bottom: 0;
   right: 0;
}

#story_main{
   padding: 15%;
   padding-top: 6%;
   padding-bottom: 6%;
   font-size: 23px;
   line-height: 35px;
   font-family: 'Montserrat', sans-serif;
}

@media (max-width: 900px) {
  #person_header #quote {
    width: 100%;
    padding: 7%;
    display: none;
  }

  #story_main{
    padding: 11%;
    padding-top: 1%;
    padding-bottom: 6%;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 850px) {
  #person_header {
    height: 200px;
    width: 80%;
    margin-left: 10%;
  }

  #name {
    font-size: 16px;
    padding: 5px;
  }

  #story_main{
    padding: 11%;
    padding-top: 1%;
    padding-bottom: 6%;
    font-size: 14px;
    line-height: 25px;
  }

  #header-section.story {
    height:200px;
  }
}
