---
layout: default
title: Stories
---

<article id="latest-posts">
  <header>
    <h1>Stories</h1>
  </header>
{% for post in site.categories.story %}

<article class="post">
  <div class="image-name" {% if post.bgimage %}style="background-image:url(../assets/img/{{ post.bgimage }})"{% endif %}>
    <p class="name">{{ post.title }}</p>
  </div>
  <p class="quote">
    {% if post.summary %}
      {{post.summary | truncate: 400 }}
    {% else %}
      {{post.content | truncate: 400 }}
    {% endif %}
  </p>
  <a href="{{ site.github.url }}{{ post.url }}"><button>Read...</button></a>
</article>


{% endfor %}
</article>
