---
layout: default
title: Stories
---

<article id="latest-posts">
  <header>
    <h1>Stories</h1>
  </header>
{% for post in site.categories.story %}

<a href="{{ site.github.url }}{{ post.url }}">
<article class="post">
  <div class="image-name"
  {% if post.bgimage %}
  style="background-image:url({{ site.github.url }}/assets/img/{{ post.bgimage }})"
  {% endif %}>
    <p class="name">{{ post.title }}</p>
  </div>
  <p class="quote">
    {% if post.summary %}
      {{post.summary | truncate: 400 }}
    {% else %}
      {{post.content | truncate: 400 }}
    {% endif %}
  </p>
  <a href="{{ site.github.url }}{{ post.url }}"><button class="buttons">Read...</button></a>
</article>
</a>


{% endfor %}
</article>
